/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000; 
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0; 
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}


/* Customized Code */

.main_wrapper {
	margin: 0 auto;
	width: 1000px;
}

a {
	text-decoration: none;
}

body {
	background-color: #fff;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: #ccc;

}

header nav ul{
	float: left;

}

header nav ul li{
	float: left;
	list-style: none;
}

header nav ul li a{
	font-family: calibri;
	font-size: 16px;
	color: #111;
	line-height: 63px;
	padding-left: 40px;
}

header .nav-login {
	float:right;
}

header .nav-login form {
	float:left;
	padding-top: 15px;
}

header .nav-login form input {
	float:left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	background-color: #fff;
	font-family: calibri;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .nav-login form button {
	float:left;
	width: 60px;
	height: 30px;
	margin-right: 20px;
	border: none;
	background-color: #f3f3f3;
	font-family: calibri;
	font-size: 14px;
	color: #111;
	cursor: pointer;

}



header .nav-login form button:hover {

	background-color: #ccc;

}

header .nav-login form a {
	float:left;
	width: 60px;
	height: 14px;
	margin-right: 20px;
	border: none;
	background-color: #f3f3f3;
	font-family: calibri;
	font-size: 14px;
	color: #111;
	cursor: pointer;
	text-align: center;
	padding: 8px;


}



header .nav-login form a:hover {

	background-color: #ccc;

}

header .nav-login a {
	font-family: calibri;
	color: #111;
	cursor: pointer;
}

.main-container {
	padding: 40px;
}

.main-container h2 {
	font-family: calibri;
	font-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;	

}

/* input-form*/

.input-form {
	width: 400px;
	margin:0 auto;
	padding-top: 30px;

}

.input-form {
	width: 400px;
	margin:0 auto;
	padding-top: 30px;
	
}

.input-form input {
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	border: none;
	margin-bottom: 3px;
	background-color: #ccc;
	font-family: calibri;
	font-size: 16px;
	color: #111;
	line-height: 40px;
	
}

.input-form textarea {
	width: 90%;
	height: 100px;
	padding: 0px 5%;
	border: none;
	margin-bottom: 3px;
	background-color: #ccc;
	font-family: calibri;
	font-size: 16px;
	color: #111;
	line-height: 20px;
	
}

.input-form button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #3CB371;
	font-family: calibri;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	
}

select {
  
    font:18px "arial";
 	padding:14px 0px 13px 12px ;
    margin: 5px;
    border-radius:3px;
    background: #ccc;
    border:none;
    outline:none;
    display:inline-block;
    appearance:none;
    cursor:pointer;
    width: 50%;
}

submit {

}